__pycache__
*.pyc
*_pb2.py
*_pb2_grpc.py
.DS_Store
.vscode
*.egg-info
*.pkl
*~
*.python-version
*.csv
*.zip
*.so
demonstrations/*
spot_utils/graph_nav_maps/*
wipe_online_images/*
wipe_online_images_iphone/*
push_button_images/*
calib_data/*
wipe_with_pick_images/*
cache-fixme/*
.claude/*